[Desktop Entry]
Name=Castor
GenericName=Castor
Comment=Browse the plain-text Internet.
Categories=Browser;GTK
Icon=org.typed-hole.castor.png
Exec=castor %u
Terminal=false
Type=Application
MimeType=x-scheme-handler/gemini;x-scheme-handler/gopher;x-scheme-handler/finger;